/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

    
.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background: url(images/pozadi.jpg) center center no-repeat;
    background-size: cover;
    text-align: left;
    padding: 35px 0 0 30px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 35px 0;
    
    }

.nazev {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin: 0;
    }
.popis {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin: 0;
}

.akce {
 display: flex;
 justify-content: space-between;
 }

.tlacitko {
    justify-content: center;
    color: white;
    
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    
}
a.tlacitko {
    text-decoration: none;
    background: #48418E;
}

.telefon {
    padding: 0;
    display: flex;
    justify-content: right;
}
    

/* ----- zde začni psát vlastní CSS ----- */
